*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	background-color: $dark-grey;
	color: $light;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

.wrapper {
	min-height: 100vh;
	transition: 0.5s;

	&.light {
		background-color: $light;
		color: $dark-grey;
	}
}

#root,
.wrapper,
.page {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.full-width {
	background-color: $grey;
	color: $light;
	padding: 5rem 0;
}
