$dark: rgba(27, 25, 26, 1);
$dark-grey: rgba(36, 33, 34, 1);
$grey: rgba(125, 125, 125, 1);
$light-grey: rgba(224, 224, 224, 1);
$light: rgba(249, 249, 249, 1);

$orange: rgba(255, 177, 0, 1);
$yellow: rgba(255, 216, 0, 1);
$pale-orange: rgba(255, 211, 113, 1);
$pale-yellow: rgba(255, 232, 105, 1);

// low opacity
$dark-grey-low: rgba(36, 33, 34, 0.8);
$dark-low: rgba(27, 25, 26, 0.66);
$light-low: rgba(249, 249, 249, 0.8);
$orange-low: rgba(255, 177, 0, 0.7);
$yellow-low: rgba(255, 216, 0, 0.7);
$pale-orange-low: rgba(255, 211, 113, 0.8);

// gradients
$yellow-to-orange: linear-gradient(to right, $yellow, $orange);
$yellow-to-orange-low: linear-gradient(to right, $yellow-low, $orange-low);
$orange-to-yellow: linear-gradient(to right, $orange, $yellow);

// drop shadows
$drop-shadow: 0 0.3rem 0.9rem 0 rgba(36, 33, 34, 0.06),
	0 0.3rem 0.2rem -0.2rem rgba(36, 33, 34, 0.08),
	0 0.2rem 0.6rem 0 rgba(36, 33, 34, 0.12);

// color change transition
$color-change: background-color 500ms linear, color 500ms linear;
