$dark: rgba(27, 25, 26, 1);
$dark-grey: rgba(36, 33, 34, 1);
$grey: rgba(125, 125, 125, 1);
$light-grey: rgba(224, 224, 224, 1);
$light: rgba(249, 249, 249, 1);

// low opacity
$dark-grey-low: rgba(36, 33, 34, 0.8);
$light-low: rgba(249, 249, 249, 0.8);
