.footer {
	background-color: $dark;
	color: $light;
	height: 4.5rem;
	transition: $color-change;
	width: 100%;

	.copyright {
		align-items: center;
		display: flex;
		height: 4.5rem;

		small {
			color: $grey;
			font-size: type-scale(-2);
		}

		a {
			margin: 0;

			&:first-of-type {
				margin-left: auto;
			}

			svg {
				height: 3.2rem;
				width: 3.2rem;

				path {
					fill: $grey;
				}
			}

			&:hover {
				svg {
					path {
						fill: $orange;
					}
				}
			}
		}
	}
}
