.footer {
	background-color: $dark;
	color: $light;
	height: 4.5rem;
	width: 100%;

	&.light {
		background-color: $light;
		color: $dark-grey;

		.copyright {
			border-top: 0.1rem solid $light-grey;
		}
	}

	.copyright {
		align-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 4.5rem;
		justify-content: center;

		small {
			color: $grey;
			font-size: type-scale(-2);
		}
	}
}
