.top-nav {
	background-color: $dark-grey;
	color: $light;
	height: 6rem;
	padding-top: 1.6rem;
	position: fixed;
	top: 0;
	transition: $color-change;
	width: 100%;
	z-index: 100;

	.twelve.columns {
		display: flex;
		align-items: center;
	}

	.logo {
		a {
			color: $light;
			font-size: 2.2rem;
			font-weight: 300;
			letter-spacing: 0.2rem;
		}
	}

	.page-links {
		margin-left: auto;

		a {
			color: $grey;
			font-size: type-scale(-2);
			margin-left: 1.5rem;
			transition: 0.25s font-weight;

			&.active {
				color: $light;
				font-weight: 600;
			}
		}
	}

	.logo,
	.page-links {
		a {
			display: inline-block;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
			transition: 0.2s color ease-out;

			.underline {
				bottom: -0.3rem;
				margin: 0;
				position: absolute;
				transition: 0.2s width ease-out;
				width: 0;
			}

			&:hover {
				color: $light;
			}

			&.active {
				.underline {
					transition-timing-function: ease-in;
					transition-duration: 0.3s;
					width: 100%;
				}
			}
		}
	}
}

.underline {
	background-color: $orange;
	background-image: $yellow-to-orange;
	height: 0.2rem;
	margin: 1rem auto 1.5rem;
	width: 5rem;
}
