.about {
	color: $dark-grey;

	p {
		font-weight: 300;
	}

	.about-intro {
		color: $dark-grey;
		font-size: type-scale(4);
		font-weight: 600;
		line-height: 5.2rem;
		margin: 5rem 0 10rem;
	}

	.approach-section {
		margin: 2.5rem auto 5rem;

		.approach-description {
			margin: 0 auto 1.5rem;
			max-width: 40rem;
			text-align: center;
			width: 100%;
		}

		.approach {
			padding-top: 2.5rem;

			&.vertical {
				display: block;
			}

			&.horizontal {
				display: none;
			}
		}
	}

	.list {
		padding: 5rem 0 0;
		text-align: center;

		p {
			font-size: type-scale(0);
			margin: 1.5rem 0;
		}
	}

	.contact {
		padding: 5rem 0;

		.contact-tagline {
			font-size: type-scale(0);
			margin: 0 auto 2.5rem;
			max-width: 42rem;
			text-align: center;
			width: 100%;
		}

		.social-links {
			text-align: center;

			a {
				color: $grey;
				display: inline-block;
				font-size: type-scale(0);
				font-weight: 400;
				margin: 0 0.75rem;

				&:hover,
				&:active {
					color: $orange;
				}
			}
		}

		.headshot-container {
			height: auto;
			margin: 3.5rem auto 2.5rem;
			width: 100%;

			.headshot {
				height: auto;
				max-width: 100%;
			}
		}
	}

	@include for-tablet-portrait-up() {
		.approach-section {
			.approach {
				&.vertical {
					display: none;
				}

				&.horizontal {
					display: block;
				}
			}
		}
	}
}
