.case-study {
	$sm-height: 40rem;
	$lg-height: 50rem;
	color: $dark-grey;
	padding-top: 6rem;

	.case-study-header {
		background-position: center center;
		background-size: cover;
		color: $light;
		height: $sm-height;
		overflow-y: hidden;

		&.astarte {
			background-image: url(../../images/astarte-background.jpg);
		}
		&.wasp {
			background-image: url(../../images/wasp-background.jpg);
			background-position: top center;
		}
		&.ecommerce {
			background-image: url(../../images/ecommerce-background.jpg);
		}
		&.mightyvet {
			background-image: url(../../images/mightyvet-background.jpg);
		}

		.case-study-hero {
			position: absolute;
			width: 100%;
		}

		.dark-overlay {
			background-color: $dark-low;
			position: absolute;
			height: $sm-height;
			width: 100%;
		}

		.back-link {
			align-items: center;
			display: flex;
			font-size: type-scale(0);
			height: auto;
			margin: 1.5rem 0 3rem;
			text-transform: uppercase;
			width: auto;

			a {
				color: $light;
				cursor: pointer;
				display: flex;
				align-items: center;
				font-weight: 400;
				text-decoration: none;

				&:hover {
					color: $light-grey;

					.arrow * {
						stroke: $light-grey;
					}
				}

				.arrow {
					height: 1.7rem;
					margin-right: 0.8rem;
					transform: rotate(-90deg);

					* {
						fill: none;
						stroke: $light;
						stroke-miterlimit: 10;
					}
				}
			}
		}

		.case-study-name {
			font-size: type-scale(3);
			font-weight: 400;
			text-align: center;
		}

		.case-study-description {
			font-size: type-scale(2);
			text-align: center;
		}
	}

	.text-section {
		margin: 10rem 0;

		.section-label {
			font-size: type-scale(2);
			font-weight: 600;
			letter-spacing: 0.025rem;
			margin-bottom: 0.5rem;
			text-transform: uppercase;
		}

		.underline {
			margin-left: 0;
			margin-right: 0;
		}

		.section-content {
			font-size: type-scale(0);
			line-height: 2.88rem;
		}
	}

	@include for-tablet-portrait-up() {
		.case-study-header {
			height: $lg-height;

			.dark-overlay {
				height: $lg-height;
			}

			.back-link {
				margin-bottom: 10rem;
			}

			.case-study-name {
				font-size: type-scale(4);
			}

			.case-study-description {
				margin: 0 12.5rem;
			}
		}
	}

	@include for-desktop-up {
		.case-study-header {
			.back-link {
				margin-bottom: 12.5rem;
			}

			.case-study-description {
				margin: 0 10rem;
			}
		}
	}
}
