.project {
	color: $dark-grey;

	h3 {
		font-size: type-scale(0);
		font-weight: 600;
		letter-spacing: 0.01rem;
		margin-bottom: 0.5rem;
		text-align: center;
		text-transform: uppercase;
	}

	ul {
		&.no-style {
			list-style: none;
			text-align: center;
		}

		li {
			font-size: type-scale(0);
			font-weight: 300;
		}
	}

	.project-header {
		text-align: center;

		.project-title {
			font-size: type-scale(3);
			font-weight: 600;
			margin-bottom: 0;
			margin-top: 2.5rem;
		}

		.project-services {
			color: $grey;
			margin-bottom: 7.5rem;
			font-weight: 600;
		}

		.project-description {
			font-size: type-scale(0);
			font-weight: 300;
			margin-bottom: 7.5rem;
		}
	}

	.project-image-container {
		box-shadow: $drop-shadow;
		height: auto;
		width: 100%;

		@include for-tablet-portrait-up() {
			height: auto;

			.no-image {
				height: 50rem;
				width: 100%;
			}
		}
	}

	.project-details-container {
		margin-bottom: 7.5rem;
		margin-top: 7.5rem;

		.project-detail {
			display: flex;
			margin-bottom: 2rem;

			.label {
				font-size: type-scale(0);
				font-weight: 600;
				height: auto;
				width: 30%;
			}

			.detail {
				font-size: type-scale(0);
				font-weight: 300;
				height: auto;
				width: 70%;

				a {
					color: $grey;

					&:hover {
						color: $orange;
					}
				}
			}
		}
	}

	.sketches {
		float: none;
		max-width: 144rem;
		margin: 0 auto 12.5rem;
		width: 100%;

		.full-width-image {
			margin: 0 auto;
			width: 100%;
		}
	}

	.text-list {
		box-shadow: $drop-shadow;
		margin-bottom: 7.5rem;
		padding: 5rem 0;
		text-align: center;

		&.dark {
			background-color: $grey;
			box-shadow: none;
			color: $light;
			margin-bottom: 2.5rem;
			padding: 10rem 0 9rem;

			h3 {
				font-weight: 300;
			}

			ul {
				list-style-position: outside;
				padding-left: 2rem;
				text-align: left;

				&.no-style {
					padding-left: 0;
					text-align: center;
				}
			}
		}

		&.light {
			box-shadow: none;
			margin-bottom: 2.5rem;
			padding-top: 7.5rem;

			ul {
				text-align: left;

				li {
					box-shadow: $drop-shadow;
					padding: 1.5rem;
				}
			}
		}
	}

	.diagonal-stripes {
		background: url(../../images/diagonal-stripes.png) top right;
		margin: 0 auto 5rem;
		max-width: 144rem;
		padding: 17.5rem 0;
		width: 100%;

		.center {
			float: none;
			margin: 0 auto;
		}

		.no-margin {
			margin-left: 0;
		}

		.project-image-container {
			margin-bottom: 5rem;
		}
	}

	.project-features {
		margin-bottom: 5rem;

		.project-detail-image {
			width: 100%;
		}

		.project-feature-description {
			font-size: type-scale(0);
			font-weight: 300;
			margin-bottom: 7.5rem;
			text-align: center;
		}

		.margin-bottom {
			margin-bottom: 2.5rem;
		}
	}

	.project-controls {
		display: flex;
		flex-direction: column;
		font-size: type-scale(0);
		font-weight: 300;
		text-transform: uppercase;

		.to-top {
			align-items: center;
			display: flex;
			height: auto;
			justify-content: center;
			margin-bottom: 5rem;
			text-decoration: none;
			width: auto;

			a {
				color: $dark-grey;
				cursor: pointer;
				display: flex;
				align-items: center;
				font-weight: 400;

				&:hover {
					color: $grey;

					.arrow * {
						stroke: $grey;
					}
				}

				.arrow {
					height: 1.7rem;
					margin-right: 0.8rem;

					* {
						fill: none;
						stroke: $dark-grey;
						stroke-miterlimit: 10;
					}
				}
			}
		}

		.project-links-container {
			margin: 0 auto 5rem;
			max-width: 42rem;
			padding: 0 2rem;
			width: 100%;

			li {
				display: inline-block;
				margin: 0 1.5rem 1.2rem;

				&:first-of-type {
					display: block;
				}

				a {
					color: $grey;
					display: inline-block;
					font-size: type-scale(-2);
					font-weight: 400;
					position: relative;
					text-decoration: none;

					.underline {
						bottom: -0.3rem;
						margin: 0;
						position: absolute;
						transition: 0.2s width ease-out;
						width: 0;
					}

					&:hover {
						color: $dark-grey;
					}

					&.active {
						color: $dark-grey;
						cursor: auto;
						font-weight: 600;

						.underline {
							transition-timing-function: ease-in;
							transition-duration: 0.3s;
							width: 100%;
						}
					}
				}
			}
		}
	}

	@include for-tablet-portrait-up() {
		.project-header {
			margin: 0 auto;
			width: 66.66%;

			.project-description {
				margin-left: auto;
				margin-right: auto;
				max-width: 40rem;
			}
		}

		.text-list {
			margin-left: auto;
			margin-right: auto;
			width: 66.66%;

			&.dark {
				width: 100%;

				ul {
					margin: 0 auto;
					max-width: 42rem;
				}
			}

			&.light {
				ul {
					margin-left: auto;
					margin-right: auto;
					max-width: 48rem;

					li {
						padding: 2.5rem 3rem;
					}
				}
			}
		}

		.project-features {
			.project-feature-description {
				margin-left: auto;
				margin-right: auto;
				max-width: 42rem;
			}
		}

		.diagonal-stripes {
			margin-bottom: 0;
			padding-top: 10rem;
			padding-bottom: 10rem;
		}
	}

	@include for-desktop-up() {
		.project-header {
			width: 50%;

			.project-description {
				margin-left: auto;
				margin-right: auto;
			}
		}

		.text-list {
			width: 50%;

			&.dark {
				padding-bottom: 11rem;
				padding-top: 12rem;
			}

			&.light {
				ul {
					max-width: 57rem;

					li {
						padding: 2.5rem 7.5rem;
					}
				}
			}
		}

		.diagonal-stripes {
			padding-top: 15rem;
			padding-bottom: 15rem;
		}
	}
}

.section-header {
	font-size: type-scale(2);
	letter-spacing: 0.025rem;
	margin-bottom: 0.5rem;
	text-align: center;
	text-transform: uppercase;

	span {
		font-weight: 600;
	}
}

.resume-container {
	color: $dark-grey;
	text-align: center;

	h5 {
		font-size: type-scale(2);
		font-weight: 300;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}

	h6 {
		font-size: type-scale(0);
		font-weight: 300;
		margin-bottom: 5rem;

		a {
			color: grey;
			font-size: type-scale(0);
			font-weight: 400;

			&:hover {
				color: $orange;
			}
		}
	}
}

.project-image-container {
	align-items: center;
	background-color: $light;
	display: flex;
	height: 49.2rem;
	width: 100%;

	.no-image {
		height: auto;
		width: 100%;
	}

	.project-image {
		width: 100%;
	}

	@include for-tablet-portrait-up() {
		height: auto;

		.no-image {
			height: 50rem;
			width: 100%;
		}
	}
}
